.BookingContainer {
  width: 100%;

  &__featured-items {
    display: flex;
    flex-direction: column;

    @include medium-up() {
      flex-direction: row;
    }
    padding: map-get($gutters, 'l');
  }

  &__featured-item {
    margin-right: map-get($gutters, 's');
    margin-bottom: map-get($gutters, 'l');

    @include medium-up() {
      margin-bottom: 0;
    }
    
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
