.Navbar {
  width: 100%;
  height: 80px;
  background-color: $white;
  display: flex;
  flex-direction: row;
  padding: 0 map-get($gutters, 'm') 0 map-get($gutters, 'l');
  box-sizing: border-box;
  color: $gray;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    @include medium-up() {
      margin-left: auto;
      flex-direction: row;
      list-style: none;
      padding: 0;
      align-items: center;
    }


    &-item {
      margin: 0 map-get($gutters, 'm');

      &-link {
        color: $gray;
        text-decoration: none;
      }
    }
  }
}
