.BookModal {
  &__top-body {
    display: flex;
    flex-direction: column;

    @include medium-up() {
      flex-direction: row;
      padding: 0 map-get($gutters, 'm');
    }
  }
  &__image-wrapper {
    width: 100%;
    @include medium-up() {
      width: 70%;
    }
  }

  &__image {
    width: 100%;
    min-height: 550px;
    object-fit: fill;
  }
  &__details {
    width: 100%;
    box-sizing: border-box;
    padding: 0 map-get($gutters, 'm');
    @include medium-up() {
      width: 25%;
    }
  }

  &__book-button {
    @include small-only() {
      width: 100%;
    }
  }

  &__quantity-picker {
    margin-bottom: 36px;
  }

  &__description {
    padding: 0 map-get($gutters, 'm');
  }
}
