@import url('https://fonts.googleapis.com/css2?family=Fahkwang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$breakpoints: (
  'medium': 770px,
  'large': 1200px,
);

// Colours
$black: #000;
$gray: #222;
$gray-light: #EFEDED;
$gray-xlight: #D8D8D8;
$white: #fff;

body {
  font-family: Fahkwang;
  padding: 0;
  margin: 0;
}


$gutters: (
  's': 18px,
  'm': 20px,
  'l': 40px,
);

// Mixins
@import "src/mixins";

.typography-1 {
  font-family: Fahkwang;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  @include medium-up() {
    font-size: 18px;
  }
  line-height: 23px;
  letter-spacing: 1.63636px;
}
.typography-2 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.27273px;
}

.medium-hide {
  @include medium-up() {
    display: none;
  }
}


// Components
@import "src/components/Input/Input";
@import "src/components/QuantityPicker/QuantityPicker";
@import "src/components/Modal/Modal";
@import "src/components/Button/Button";
@import "src/components/Navbar/Navbar";
@import "src/components/Hero/Hero";
@import "src/components/FeaturedItemTile/FeaturedItemTile";
@import "src/components/BookModal/BookModal";
@import "src/components/MenuModal/MenuModal";
@import "src/components/CarouselSection/CarouselSection";
@import "src/components/CarouselItemTile/CarouselItemTile";

// Containers
@import "src/features/booking/containers/BookingContainer";
