@import "src/definitions";
@import url('https://fonts.googleapis.com/css2?family=Fahkwang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
  font-family: Fahkwang;
  padding: 0;
  margin: 0;
}

@import "src/mixins";
@import "src/utils";
@import "src/typography";

// Components
@import "src/components/Input/Input";
@import "src/components/QuantityPicker/QuantityPicker";
@import "src/components/Modal/Modal";
@import "src/components/Button/Button";
@import "src/components/Navbar/Navbar";
@import "src/components/Hero/Hero";
@import "src/components/FeaturedItemTile/FeaturedItemTile";
@import "src/components/BookModal/BookModal";
@import "src/components/MenuModal/MenuModal";
@import "src/components/CarouselSection/CarouselSection";
@import "src/components/CarouselItemTile/CarouselItemTile";

// Containers
@import "src/features/booking/containers/BookingContainer";
